@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

* {
  font-family: 'Montserrat', sans-serif;
}

@theme {
  --font-montserrat: 'Montserrat", sans-serif'
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .animate-delay-1 {
    animation-delay: 0.3s;
  }

  .animate-delay-2 {
    animation-delay: 0.5s;
  }

  .animate-delay-3 {
    animation-delay: 0.7s;
  }

  .animate-delay-4 {
    animation-delay: 0.9s;
  }

  .animate-delay-5 {
    animation-delay: 1.2s;
  }

  .animate-slow {
    animation-duration: 3s;
  }
}
.slick-slide > div {
  margin: 0 10px;
}

/* Remove margin from inside the dot div */
.slick-dots li div {
  width: 30px;
  height: 5px;
  border-radius: 8%;
  background: #d9d9d9;
  transition: all ease-in 0.3s;
}

/* Active dot style */
.slick-dots li.slick-active div {
  background: linear-gradient(to right, #5BDCE4, #034FAF);
  width: 40px;
  border-radius: 5px;
  z-index: 100;
}

/* Make sure the <ul> inside .slick-dots is flex for gap to work */
.slick-dots ul {
  display: flex !important;
  justify-content: center;
  align-items: end;
  gap: 17px;  /* adjust spacing between dots */
  padding: 0;
  /* background-color: red; */
  list-style: none;
  height: 50px;
}
